:root {
  /*Color mode*/
  --primary-color: #bee7f9;
  --link-color: #201f53;
  --circle-color: #eab53d;
  --white-color: #fff;
  --pink-color: #ED177D;

  /*Font and typography*/

  --body-font: Arial, sans-serif;

  --h1-font-size: 80pt;
  --h2-font-size: 36pt;

  /* Font weight*/
  --font-regular: 400;
  --font-bold: 600;
}
* {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--primary-color-branco);
  font-family: "TT Supermolot", Arial, sans-serif;
}

@font-face {
  font-family: "TT Supermolot";
  src: url("./assets/fonts/TTSupermolotBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Supermolot";
  src: url("./assets/fonts/TTSupermolotRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
